*.o
*.o.cmd
*.cmd
*.d
*.a
*.lds

rootfs/*

linux/.*
linux/Module.symvers
linux/System.map
linux/arch/arm/boot/Image
linux/arch/arm/boot/compressed/ashldi3.S
linux/arch/arm/boot/compressed/bswapsdi2.S
linux/arch/arm/boot/compressed/fdt.c
linux/arch/arm/boot/compressed/fdt.h
linux/arch/arm/boot/compressed/fdt_ro.c
linux/arch/arm/boot/compressed/fdt_rw.c
linux/arch/arm/boot/compressed/fdt_wip.c
linux/arch/arm/boot/compressed/hyp-stub.S
linux/arch/arm/boot/compressed/lib1funcs.S
linux/arch/arm/boot/compressed/libfdt.h
linux/arch/arm/boot/compressed/libfdt_internal.h
linux/arch/arm/boot/compressed/piggy.gzip
linux/arch/arm/boot/compressed/vmlinux
linux/arch/arm/boot/compressed/vmlinux.lds
linux/arch/arm/boot/zImage
linux/arch/arm/include/generated/
linux/arch/arm/kernel/asm-offsets.s
linux/drivers/tty/vt/consolemap_deftbl.c
linux/drivers/tty/vt/defkeymap.c
linux/include/config/
linux/include/generated/
linux/kernel/bounds.s
linux/kernel/hz.bc
linux/kernel/timeconst.h
linux/lib/crc32table.h
linux/lib/gen_crc32table
linux/lib/oid_registry_data.c
linux/patch/
linux/scripts/basic/fixdep
linux/scripts/conmakehash
linux/scripts/dtc/dtc
linux/scripts/dtc/dtc-lexer.lex.c
linux/scripts/dtc/dtc-parser.tab.c
linux/scripts/dtc/dtc-parser.tab.h
linux/scripts/genksyms/genksyms
linux/scripts/genksyms/keywords.hash.c
linux/scripts/genksyms/lex.lex.c
linux/scripts/genksyms/parse.tab.c
linux/scripts/genksyms/parse.tab.h
linux/scripts/kallsyms
linux/scripts/kconfig/conf
linux/scripts/kconfig/zconf.hash.c
linux/scripts/kconfig/zconf.lex.c
linux/scripts/kconfig/zconf.tab.c
linux/scripts/mod/devicetable-offsets.h
linux/scripts/mod/devicetable-offsets.s
linux/scripts/mod/elfconfig.h
linux/scripts/mod/mk_elfconfig
linux/scripts/mod/modpost
linux/scripts/selinux/genheaders/genheaders
linux/scripts/selinux/mdp/mdp
linux/scripts/sortextable
linux/security/selinux/av_permissions.h
linux/security/selinux/flask.h
linux/usr/gen_init_cpio
linux/usr/initramfs_data.cpio.gz
linux/vmlinux

